@model IEnumerable<Project_Nhom4.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            mã
        </th>
        <th>
            loại sản phẩm
        </th>
        <th>
            ảnh
        </th>
        <th>
            trạng thái
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.ProductId
        </td>
        <td>
            @item.ProductName
        </td>
        <td>
            @item.CategoryName
        </td>
        <td>
            @{
                // lấy đường dẫn file ảnh
                string ImagePath = "~/wwwroot/Website/img/" + item.ProductImg;
            }
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            <br />
        </td>
        <td>
            @item.ProductStatus
        </td>
            
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
