@model IEnumerable<ShoesStore.Models.admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tentk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tentk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matkhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.matk }) |
            @Html.ActionLink("Details", "Details", new { id=item.matk }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.matk })
        </td>
    </tr>
}

</table>
