@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>

    <div class="product-view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-view-top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="product-search">
                                            @using (Html.BeginForm())
                                            {
                                                @Html.TextBox("searchstring", ViewBag.CurrentFilter as string)
                                                <button><i class="fa fa-search"></i></button>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-short">
                                            <div class="dropdown">
                                                <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Newest</a>
                                                    <a href="#" class="dropdown-item">Popular</a>
                                                    <a href="#" class="dropdown-item">Most sale</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-price-range">
                                            <div class="dropdown">
                                                <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="/Products/Index?sortOrder=@ViewBag.saptheogiatang" class="dropdown-item">Tăng</a>
                                                    <a href="/Products/Index?sortOrder=@ViewBag.saptheogiagiam" class="dropdown-item">Giảm</a>
                                                    <a href="/Products/Index?sortOrder=@ViewBag.saptheogia100k_300k" class="dropdown-item">100k-300k</a>
                                                   
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        @Html.DisplayFor(modelItem => item.Name)
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="">
                                            <img src='@Url.Content("~/wwwroot/Website/img/prod1.jpg")' alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="/Products/Details/@item.ID"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>@Html.DisplayFor(modelItem => item.Price)<span>đ</span></h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
                                    </div>
                                </div>
                            </div>
                            
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))




