<ul class="memenu skyblue">
    <li class="@(ViewContext.RouteData.Values["Action"].ToString()=="Index" ? "active": "")">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="grid @(ViewContext.RouteData.Values["Action"].ToString()=="Men" ? "active": "")">
        @Html.ActionLink("Men", "Men", "Home")
        <div class="mepanel">
            <div class="row">
                <div class="col1 me-one">
                    <h4>Shop</h4>
                    <ul>
                        <li>@Html.ActionLink("New Arrivals", "Index", "Home")</li>
                        <li>@Html.ActionLink("Men", "Men", "Home")</li>
                        <li>@Html.ActionLink("Women", "Women", "Home")</li>
                        <li>@Html.ActionLink("Accessories", "Accessories", "Home")</li>
                        <li>@Html.ActionLink("Kids", "Kid", "Home")</li>
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        <li>@Html.ActionLink("Brands", "Brand", "Home")</li>
                        <li>@Html.ActionLink("My Shopping Bag", "Shop", "Home")</li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Style Zone</h4>
                    <ul>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Style Videos</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Popular Brands</h4>
                    <ul>
                        <li><a href="products.html">Levis</a></li>
                        <li><a href="products.html">Persol</a></li>
                        <li><a href="products.html">Nike</a></li>
                        <li><a href="products.html">Edwin</a></li>
                        <li><a href="products.html">New Balance</a></li>
                        <li><a href="products.html">Jack & Jones</a></li>
                        <li><a href="products.html">Paul Smith</a></li>
                        <li><a href="products.html">Ray-Ban</a></li>
                        <li><a href="products.html">Wood Wood</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="grid @(ViewContext.RouteData.Values["Action"].ToString()=="Women" ? "active": "")">
        @Html.ActionLink("Women", "Women", "Home")
        <div class="mepanel">
            <div class="row">
                <div class="col1 me-one">
                    <h4>Shop</h4>
                    <ul>
                        <li><a href="products.html">New Arrivals</a></li>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">login</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">My Shopping Bag</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Style Zone</h4>
                    <ul>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Style Videos</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Popular Brands</h4>
                    <ul>
                        <li><a href="products.html">Levis</a></li>
                        <li><a href="products.html">Persol</a></li>
                        <li><a href="products.html">Nike</a></li>
                        <li><a href="products.html">Edwin</a></li>
                        <li><a href="products.html">New Balance</a></li>
                        <li><a href="products.html">Jack & Jones</a></li>
                        <li><a href="products.html">Paul Smith</a></li>
                        <li><a href="products.html">Ray-Ban</a></li>
                        <li><a href="products.html">Wood Wood</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="grid @(ViewContext.RouteData.Values["Action"].ToString()=="Kid" ? "active": "")">
        @Html.ActionLink("Kids", "Kid", "Home")
        <div class="mepanel">
            <div class="row">
                <div class="col1 me-one">
                    <h4>Shop</h4>
                    <ul>
                        <li><a href="products.html">New Arrivals</a></li>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">login</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">My Shopping Bag</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Style Zone</h4>
                    <ul>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Style Videos</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Popular Brands</h4>
                    <ul>
                        <li><a href="products.html">Levis</a></li>
                        <li><a href="products.html">Persol</a></li>
                        <li><a href="products.html">Nike</a></li>
                        <li><a href="products.html">Edwin</a></li>
                        <li><a href="products.html">New Balance</a></li>
                        <li><a href="products.html">Jack & Jones</a></li>
                        <li><a href="products.html">Paul Smith</a></li>
                        <li><a href="products.html">Ray-Ban</a></li>
                        <li><a href="products.html">Wood Wood</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="grid @(ViewContext.RouteData.Values["Action"].ToString()=="Sport" ? "active": "")">
        @Html.ActionLink("Sport", "Sport", "Home")
        <div class="mepanel">
            <div class="row">
                <div class="col1 me-one">
                    <h4>Shop</h4>
                    <ul>
                        <li><a href="products.html">New Arrivals</a></li>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">login</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">My Shopping Bag</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Style Zone</h4>
                    <ul>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Style Videos</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Popular Brands</h4>
                    <ul>
                        <li><a href="products.html">Levis</a></li>
                        <li><a href="products.html">Persol</a></li>
                        <li><a href="products.html">Nike</a></li>
                        <li><a href="products.html">Edwin</a></li>
                        <li><a href="products.html">New Balance</a></li>
                        <li><a href="products.html">Jack & Jones</a></li>
                        <li><a href="products.html">Paul Smith</a></li>
                        <li><a href="products.html">Ray-Ban</a></li>
                        <li><a href="products.html">Wood Wood</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="grid @(ViewContext.RouteData.Values["Action"].ToString()=="Brand" ? "active": "")">
        @Html.ActionLink("Brand", "Brand", "Home")
        <div class="mepanel">
            <div class="row">
                <div class="col1 me-one">
                    <h4>Shop</h4>
                    <ul>
                        <li><a href="products.html">New Arrivals</a></li>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">login</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">My Shopping Bag</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Style Zone</h4>
                    <ul>
                        <li><a href="products.html">Men</a></li>
                        <li><a href="products.html">Women</a></li>
                        <li><a href="products.html">Brands</a></li>
                        <li><a href="products.html">Kids</a></li>
                        <li><a href="products.html">Accessories</a></li>
                        <li><a href="products.html">Style Videos</a></li>
                    </ul>
                </div>
                <div class="col1 me-one">
                    <h4>Popular Brands</h4>
                    <ul>
                        <li><a href="products.html">Levis</a></li>
                        <li><a href="products.html">Persol</a></li>
                        <li><a href="products.html">Nike</a></li>
                        <li><a href="products.html">Edwin</a></li>
                        <li><a href="products.html">New Balance</a></li>
                        <li><a href="products.html">Jack & Jones</a></li>
                        <li><a href="products.html">Paul Smith</a></li>
                        <li><a href="products.html">Ray-Ban</a></li>
                        <li><a href="products.html">Wood Wood</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>
