@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>
        Quản lý user
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>@Html.ActionLink("Home", "Index", "HomeAd")</li>
        <li class="active">User</li>
    </ol>
</section>
<style>
    .test {
        color: white !important;
    }
</style>
<!-- Main content -->
<section class="content">
    <div class="col-md-12">
        <div style="margin-bottom:5px;">
            <div class="btn btn-primary">@Html.ActionLink("Tạo mới user", "Create","User", new {@class = "test"})</div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">List User</div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            Tên tài khoản
                        </th>
                        <th>
                            Tên người dùng
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th style="width:100px;"></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <br />
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) <br />
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
                <style type="text/css">
                    .pagination {
                        padding: 0px;
                        margin: 0px;
                    }
                </style>
                @if (ViewBag.Error != null)
                {
                    <br />
                    <div class="alert alert-danger" role="alert">@ViewBag.Error </div>
                }
            </div>
        </div>
    </div>

</section>

