@model Project_Nhom4.Common.UserRegister

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    section .noi-dung {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        margin-left: 315px;
    }

        section .noi-dung .form {
            width: 50%;
        }

            section .noi-dung .form h2 {
                color: #607d8b;
                font-weight: 500;
                font-size: 1.5em;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 4px solid #ff4584;
                display: inline-block;
                letter-spacing: 1px;
            }

            section .noi-dung .form .input-form {
                margin-bottom: 20px;
            }

                section .noi-dung .form .input-form span {
                    font-size: 16px;
                    margin-bottom: 5px;
                    display: inline-block;
                    color: #607db8;
                    letter-spacing: 1px;
                }

                section .noi-dung .form .input-form input {
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    border: 1px solid #607d8b;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #607d8b;
                    background: transparent;
                    border-radius: 30px;
                }

                    section .noi-dung .form .input-form input[type="submit"] {
                        background: #ff4584;
                        color: #fff;
                        outline: none;
                        border: none;
                        font-weight: 500;
                        cursor: pointer;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
                    }

                        section .noi-dung .form .input-form input[type="submit"]:hover {
                            background: #f53677;
                        }

            section .noi-dung .form .nho-dang-nhap {
                margin-bottom: 10px;
                color: #607d8b;
                font-size: 14px;
            }

            section .noi-dung .form h3 {
                color: #607d8b;
                text-align: center;
                margin: 80px 0 10px;
                font-weight: 500;
            }

            section .noi-dung .form .icon-dang-nhap {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                section .noi-dung .form .icon-dang-nhap li {
                    list-style: none;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    section .noi-dung .form .icon-dang-nhap li:nth-child(1) {
                        color: #3b5999;
                    }

                    section .noi-dung .form .icon-dang-nhap li:nth-child(2) {
                        color: #dd4b39;
                    }

                    section .noi-dung .form .icon-dang-nhap li:nth-child(3) {
                        color: #55acee;
                    }

                    section .noi-dung .form .icon-dang-nhap li i {
                        font-size: 24px;
                    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        <div class="noi-dung">
            <div class="form">
                @using (Html.BeginForm("Register", "UserKH", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <h4>Đăng kí thành viên</h4>
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-form">
                        <span>Tên đăng nhập</span>
                        <input type="text" name="UserName">
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Tên người dùng</span>
                        <input type="text" name="Name">
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="input-form">
                        <span>Mật Khẩu</span>
                        <input type="password" name="Password">
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Nhập lại mật khẩu</span>
                        <input type="text" name="ConfirmPassword">
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Địa chỉ</span>
                        <input type="text" name="Address">
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Email</span>
                        <input type="text" name="Email">
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Số điện thoại</span>
                        <input type="text" name="Phone">
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="input-form">
                        <input type="submit" value="Đăng kí">
                    </div>
                    <h3>Đăng Nhập Bằng Mạng Xã Hội</h3>
                    <ul class="icon-dang-nhap">
                        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                        <li><i class="fa fa-google" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    </ul>
                }
            </div>
        </div>
    </section>
</body>
</html>


